# Curso Pandas: tratando e analisando dados
## Formação Data Science | Alura

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [4]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [5]:
tipos_de_imovel = dados['Tipo']
tipos_de_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [6]:
type(tipos_de_imovel)

pandas.core.series.Series

In [7]:
tipos_de_imovel.drop_duplicates(inplace=True)

In [8]:
tipos_de_imovel.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [9]:
tipos_de_imovel = pd.DataFrame(tipos_de_imovel)
tipos_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [10]:
tipos_de_imovel.index

Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,    83,
         117,   159,   207,   347,   589,  2157,  3354,  4379,  4721,  6983,
        9687, 23614],
      dtype='int64')

In [11]:
tipos_de_imovel.shape[0]

22

In [12]:
range(tipos_de_imovel.shape[0])

range(0, 22)

In [13]:
tipos_de_imovel.index = range(tipos_de_imovel.shape[0])
tipos_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [14]:
tipos_de_imovel.columns.name = 'Id'
tipos_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [15]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [16]:
residencial = ['Quitinete',
               'Casa',
               'Apartamento',
               'Casa de Condomínio',
               'Casa Comercial',
               'Casa de Vila']

In [17]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [18]:
dados_residencial = dados[selecao]
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [19]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila']

In [20]:
dados_residencial.shape[0]

22845

In [21]:
dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [22]:
# dados_residencial.to_csv('dados/aluguel_residencial.csv', sep=';', index=False)

In [23]:
# dados = pd.read_csv('dados/aluguel_residencial.csv')
# dados.head()

In [24]:
selecao = dados_residencial['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22840     True
22841    False
22842     True
22843     True
22844     True
Name: Tipo, Length: 22845, dtype: bool

In [28]:
n1 = dados_residencial[selecao].shape[0]
n1

19532

In [30]:
selecao = (dados_residencial['Tipo'] == 'Casa') | (dados_residencial['Tipo'] == 'Casa de Condomínio') | (dados_residencial['Tipo'] == 'Casa de Vila')
n2 = dados_residencial[selecao].shape[0]
n2

2212

In [31]:
selecao = (dados_residencial['Area'] >= 60) & (dados_residencial['Area'] <= 100)
n3 = dados_residencial[selecao].shape[0]
n3

8736

In [32]:
selecao = (dados_residencial['Quartos'] >= 4) & (dados_residencial['Valor'] < 2000)
n4 = dados_residencial[selecao].shape[0]
n4

41

In [34]:
dados_residencial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22845 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22845 non-null  object
 1   Bairro      22845 non-null  object
 2   Quartos     22845 non-null  int64
 3   Vagas       22845 non-null  int64
 4   Suites      22845 non-null  int64
 5   Area        22845 non-null  int64
 6   Valor       22836 non-null  float64
 7   Condominio  20796 non-null  float64
 8   IPTU        15976 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [35]:
dados_residencial[dados_residencial['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1515,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1708,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2039,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2061,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4998,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8674,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
9061,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9264,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [39]:
quantidade_antes = dados_residencial.shape[0]
dados_residencial.dropna(subset=['Valor'], inplace=True)
quantidade_depois = dados_residencial.shape[0]
print(f'Foram eliminados {quantidade_antes - quantidade_depois} registros')

Foram eliminados 9 registros

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/714889413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial.dropna(subset=['Valor'], inplace=True)

In [40]:
dados_residencial[dados_residencial['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [42]:
dados_residencial[dados_residencial['Condominio'].isnull()].shape[0]

2047

In [43]:
selecao = (dados_residencial['Tipo'] == 'Apartamento') & (dados_residencial['Condominio'].isnull())
dados_residencial[selecao]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
84,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
118,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
134,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22592,Apartamento,Copacabana,3,0,0,130,4600.0,NaN,NaN
22620,Apartamento,Guadalupe,1,0,0,40,550.0,NaN,NaN
22637,Apartamento,Bonsucesso,1,0,0,60,1000.0,NaN,NaN
22667,Apartamento,Flamengo,2,0,0,59,3500.0,NaN,NaN
22739,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN

In [45]:
quantidade_antes = dados_residencial.shape[0]
dados_residencial = dados_residencial[~selecao]
quantidade_depois = dados_residencial.shape[0]
print(f'Foram eliminados {quantidade_antes - quantidade_depois} registros')

Foram eliminados 745 registros

In [48]:
dados_residencial[dados_residencial['Condominio'].isnull()].shape[0]

1302

In [49]:
dados_residencial.fillna({'Condominio': 0, 'IPTU': 0}, inplace=True)

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/4107863002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial.fillna({'Condominio': 0, 'IPTU': 0}, inplace=True)

In [51]:
print(dados_residencial[dados_residencial['Condominio'].isnull()].shape[0])
print(dados_residencial[dados_residencial['IPTU'].isnull()].shape[0])

0
0

In [52]:
dados_residencial.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22091 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22091 non-null  object
 1   Bairro      22091 non-null  object
 2   Quartos     22091 non-null  int64
 3   Vagas       22091 non-null  int64
 4   Suites      22091 non-null  int64
 5   Area        22091 non-null  int64
 6   Valor       22091 non-null  float64
 7   Condominio  22091 non-null  float64
 8   IPTU        22091 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [ ]:
# dados_residencial.tocsv('dados/aluguel_residencial.csv', sep=';', index=False)

In [53]:
dados_residencial['Valor Bruto'] = dados_residencial['Valor'] + dados_residencial['Condominio'] + dados_residencial['IPTU']
dados_residencial.head()

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/4059507408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial['Valor Bruto'] = dados_residencial['Valor'] + dados_residencial['Condominio'] + dados_residencial['IPTU']

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0

In [55]:
dados_residencial['Valor por m2'] = round((dados_residencial['Valor'] / dados_residencial['Area']), 2)
dados_residencial['Valor Bruto por m2'] = (dados_residencial['Valor Bruto'] / dados_residencial['Area']).round(2) # Outra forma de arredondamento, porém o resultado é o mesmo
dados_residencial.head(10)

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/2160117619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial['Valor por m2'] = round((dados_residencial['Valor Bruto'] / dados_residencial['Area']), 2)

0     56.50
1     70.00
2     80.67
3     21.46
5     32.36
6     29.33
7     15.38
9     31.66
10    21.88
11    65.28
Name: Valor por m2, dtype: float64

In [56]:
tipos_de_casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
dados_residencial['Tipo Agregado'] = dados_residencial['Tipo'].apply(lambda x: 'Casa' if x in tipos_de_casa else 'Apartamento')
dados_residencial

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/3595513648.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial['Tipo Agregado'] = dados_residencial['Tipo'].apply(lambda x: 'Casa' if x in tipos_de_casa else 'Apartamento')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor por m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,21.46,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,32.36,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...
22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,20.54,Apartamento
22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,43.52,Apartamento
22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,33.85,Apartamento
22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,40.54,Apartamento
22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,53.71,Apartamento

In [57]:
dados_aux = pd.DataFrame(dados_residencial[['Tipo Agregado', 'Valor Bruto', 'Valor por m2', 'Valor Bruto por m2']])
dados_aux.head(10)

   Tipo Agregado  Valor Bruto  Valor por m2
0    Apartamento       2260.0         56.50
1           Casa       7000.0         70.00
2    Apartamento       1210.0         80.67
3    Apartamento       1030.0         21.46
5    Apartamento       1618.0         32.36
6           Casa      22000.0         29.33
7           Casa       1000.0         15.38
9    Apartamento       2216.0         31.66
10   Apartamento       1969.0         21.88
11   Apartamento       2611.0         65.28

In [60]:
del dados_aux['Valor Bruto'] # Outra forma de remover
dados_aux.head()

  Tipo Agregado  Valor por m2
0   Apartamento         56.50
1          Casa         70.00
2   Apartamento         80.67
3   Apartamento         21.46
5   Apartamento         32.36

In [61]:
dados_aux.pop('Valor Bruto por m2') # Outra forma de remover
dados_aux.head()

  Tipo Agregado
0   Apartamento
1          Casa
2   Apartamento
3   Apartamento
5   Apartamento

In [62]:
dados_residencial.drop(['Valor Bruto por m2', 'Valor Bruto'], axis=1, inplace=True) # Outra forma de remover
dados_residencial.head()

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_27197/4231348027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial.drop(['Valor por m2', 'Valor Bruto'], axis=1, inplace=True) # Outra forma de remover

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,Apartamento

In [ ]:
# dados_residencial.to_csv('dados/aluguel_residencial.csv', sep=';', index=False)