In [1]:
import pandas as pd

In [2]:
url_dados_hospedagem = 'https://caelum-online-public.s3.amazonaws.com/2928-transformacao-manipulacao-dados/dados_hospedagem.json'
dados_hospedagem = pd.read_json(url_dados_hospedagem)
dados_hospedagem.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [3]:
url_imoveis_disponiveis = 'https://caelum-online-public.s3.amazonaws.com/2928-transformacao-manipulacao-dados/moveis_disponiveis.json'
dados_imoveis_disponiveis = pd.read_json(url_imoveis_disponiveis)
dados_imoveis_disponiveis.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

### Desaninhando os dados

In [4]:
dados_hospedagem = pd.json_normalize(dados_hospedagem['info_moveis'])
dados_hospedagem.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

In [5]:
url_dados_vendas_clientes = 'https://caelum-online-public.s3.amazonaws.com/2928-transformacao-manipulacao-dados/dados_vendas_clientes.json'
url_dados_locacao_imoveis = 'https://caelum-online-public.s3.amazonaws.com/2928-transformacao-manipulacao-dados/dados_locacao_imoveis.json'
dados_vendas_clientes = pd.read_json(url_dados_vendas_clientes)
dados_locacao_imoveis = pd.read_json(url_dados_locacao_imoveis)

In [6]:
dados_vendas_clientes

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [7]:
dados_vendas_clientes = pd.json_normalize(dados_vendas_clientes['dados_vendas'])
dados_vendas_clientes

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

In [8]:
dados_locacao_imoveis.head()

                                       dados_locacao
0  {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1  {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2  {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3  {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4  {'apartamento': 'C301 (blocoAP)', 'datas_combi...

In [9]:
dados_locacao_imoveis = pd.json_normalize(dados_locacao_imoveis['dados_locacao'])
dados_locacao_imoveis.head()

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"

### Desagrupando os dados

In [10]:
colunas = list (dados_hospedagem.columns)
colunas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [11]:
dados_hospedagem = dados_hospedagem.explode(colunas[3:])
dados_hospedagem.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [12]:
dados_hospedagem.reset_index(drop=True, inplace=True) # drop=True para não criar uma coluna com o index antigo
dados_hospedagem.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [13]:
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

##### Os dados podem ser do tipo Object pelos seguintes motivos:
###### - Vários tipos de dados diferentes
###### - Tipo não espeificado ou não identificado
###### - Strings

In [14]:
import numpy as np

In [15]:
dados_hospedagem['max_hospedes'] = dados_hospedagem['max_hospedes'].astype(np.int64) # O int64 é um tipo de dado do numpy
dados_hospedagem['max_hospedes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3818 entries, 0 to 3817
Series name: max_hospedes
Non-Null Count  Dtype
--------------  -----
3818 non-null   int64
dtypes: int64(1)
memory usage: 30.0 KB

In [16]:
colunas_numericas = ['quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas']
dados_hospedagem[colunas_numericas] = dados_hospedagem[colunas_numericas].astype(np.int64)
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [17]:
dados_hospedagem['avaliacao_geral'] = dados_hospedagem['avaliacao_geral'].astype(np.float64)
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

In [18]:
dados_hospedagem['preco'] = dados_hospedagem['preco'].str.replace('$', '').str.replace(',', '').astype(np.float64)

In [19]:
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

In [20]:
dados_hospedagem['preco']

0       110.0
1        45.0
2        55.0
3        52.0
4        85.0
        ...
3813    299.0
3814    199.0
3815    400.0
3816    250.0
3817    350.0
Name: preco, Length: 3818, dtype: float64

##### Transformação de múltiplas colunas

In [21]:
dados_hospedagem[['taxa_deposito', 'taxa_limpeza']] = dados_hospedagem[['taxa_deposito', 'taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',', '')).astype(np.float64) # applymap aplica uma função a cada elemento do dataframe # lambda é uma função anônima
dados_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

/var/folders/v3/cd9ctqm16fl8gn9vl4dgy_7c0000gn/T/ipykernel_5667/4023511619.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dados_hospedagem[['taxa_deposito', 'taxa_limpeza']] = dados_hospedagem[['taxa_deposito', 'taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',', '')).astype(np.float64) # applymap aplica uma função a cada elemento do dataframe # lambda é uma função anônima

In [22]:
dados_hospedagem[['taxa_deposito', 'taxa_limpeza']].head()

   taxa_deposito  taxa_limpeza
0            0.0           0.0
1            0.0           0.0
2            0.0           0.0
3            0.0          20.0
4            0.0          15.0

In [23]:
colunas_vendas = list(dados_vendas_clientes.columns)
colunas_vendas

['Data de venda', 'Cliente', 'Valor da compra']

In [24]:
dados_vendas_clientes = dados_vendas_clientes.explode(colunas_vendas[1:])
dados_vendas_clientes.reset_index(drop=True, inplace=True)
dados_vendas_clientes.head()

  Data de venda             Cliente Valor da compra
0    06/06/2022     @ANA _LUCIA 321        R$ 836,5
1    06/06/2022  DieGO ARMANDIU 210       R$ 573,33
2    06/06/2022  DieGO ARMANDIU 210        R$ 392,8
3    06/06/2022  DieGO ARMANDIU 210       R$ 512,34
4    07/06/2022  Isabely JOanes 738       R$ 825,31

In [25]:
dados_vendas_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [26]:
dados_vendas_clientes['Valor da compra'] = dados_vendas_clientes['Valor da compra'].apply(lambda x: x.replace('R$ ', '').replace(',','.').strip())
dados_vendas_clientes['Valor da compra'] = dados_vendas_clientes['Valor da compra'].astype(np.float64)
dados_vendas_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

In [27]:
colunas_locacao = list(dados_locacao_imoveis.columns)
colunas_locacao

['apartamento',
 'datas_combinadas_pagamento',
 'datas_de_pagamento',
 'valor_aluguel']

In [28]:
dados_locacao_imoveis = dados_locacao_imoveis.explode(colunas_locacao[1:])
dados_locacao_imoveis.reset_index(drop=True, inplace=True)
dados_locacao_imoveis.head()

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"

In [29]:
dados_locacao_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [30]:
dados_locacao_imoveis['valor_aluguel'] = dados_locacao_imoveis['valor_aluguel'].str.replace('$', '').str.replace(',', '').str.replace(' reais', '').astype(np.float64)
dados_locacao_imoveis.head()

      apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0  A101 (blocoAP)                 01/06/2022         05/06/2022        10000.0
1  A101 (blocoAP)                 01/07/2022         03/07/2022        25000.0
2  A102 (blocoAP)                 02/06/2022         02/06/2022        11000.0
3  A102 (blocoAP)                 02/07/2022         06/07/2022        26000.0
4  B201 (blocoAP)                 03/06/2022         07/06/2022        12000.0

In [31]:
dados_locacao_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

### Manipulação de textos
#### Tokenização: divisão do texto em unidades menores, que podem ser palavras, sílabas, frases, etc.

In [32]:
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.lower() # método lower() converte o texto para minúsculo
dados_hospedagem['descricao_local'].head()

0    this clean and comfortable one bedroom sits ri...
1    our century old upper queen anne house is loca...
2    cozy room in two-bedroom apartment along the l...
3    very lovely and cozy room for one. convenientl...
4    the “studio at mibbett hollow' is in a beautif...
Name: descricao_local, dtype: object

In [33]:
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True) # remove caracteres especiais desnecessários utilizando Regex, substituindo-os por um espaço em branco
## No caso, o ^ significa "não", ou seja, não é para substituir os caracteres que estão dentro dos colchetes. Ou seja, serão selecionados todos os caracteres, exceto letras (maiúsculas e minúsculas, números, hífen e apóstrofo)
dados_hospedagem['descricao_local'].head()

0    this clean and comfortable one bedroom sits ri...
1    our century old upper queen anne house is loca...
2    cozy room in two-bedroom apartment along the l...
3    very lovely and cozy room for one  convenientl...
4    the  studio at mibbett hollow' is in a beautif...
Name: descricao_local, dtype: object

In [34]:
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.replace('(?<!\w)-(?!\w)', ' ', regex=True) # remoção de hífens que não estejam entre palavras compostas
## (?<!\w) significa "não precedido por uma palavra" e (?!w) significa "não seguido por uma palavra"
# É possível refinar a tokenização e remover as denominadas "stop words", que são palavras que não agregam valor semântico ao texto, como artigos, preposições, etc.
dados_hospedagem['descricao_local'].head()

0    this clean and comfortable one bedroom sits ri...
1    our century old upper queen anne house is loca...
2    cozy room in two-bedroom apartment along the l...
3    very lovely and cozy room for one  convenientl...
4    the  studio at mibbett hollow' is in a beautif...
Name: descricao_local, dtype: object

In [35]:
dados_hospedagem['descricao_local'] = dados_hospedagem['descricao_local'].str.split() # método split() divide o texto em palavras
dados_hospedagem['descricao_local'].head()

0    [this, clean, and, comfortable, one, bedroom, ...
1    [our, century, old, upper, queen, anne, house,...
2    [cozy, room, in, two-bedroom, apartment, along...
3    [very, lovely, and, cozy, room, for, one, conv...
4    [the, studio, at, mibbett, hollow', is, in, a,...
Name: descricao_local, dtype: object

In [36]:
dados_hospedagem['comodidades'] = dados_hospedagem['comodidades'].str.replace('\{|}|\"', '', regex=True)
dados_hospedagem['comodidades'] = dados_hospedagem['comodidades'].str.split(',')
dados_hospedagem['comodidades'].head()

0    [Internet, Wireless Internet, Kitchen, Free Pa...
1    [TV, Internet, Wireless Internet, Kitchen, Fre...
2    [TV, Internet, Wireless Internet, Kitchen, Fre...
3    [Internet, Wireless Internet, Kitchen, Free Pa...
4    [Wireless Internet, Kitchen, Free Parking on P...
Name: comodidades, dtype: object

In [37]:
dados_vendas_clientes['Cliente'] = dados_vendas_clientes['Cliente'].str.lower()
# dados_vendas_clientes['Cliente'].str.replace('[^a-z ]', '', regex=True)
dados_vendas_clientes['Cliente'] = dados_vendas_clientes['Cliente'].str.replace('[^a-z ]', '', regex=True).str.strip() # O método strip() remove os espaços em branco no início e no final da string
dados_vendas_clientes.head()

  Data de venda         Cliente  Valor da compra
0    06/06/2022       ana lucia           836.50
1    06/06/2022  diego armandiu           573.33
2    06/06/2022  diego armandiu           392.80
3    06/06/2022  diego armandiu           512.34
4    07/06/2022  isabely joanes           825.31

In [38]:
# dados_locacao_imoveis['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)
dados_locacao_imoveis['apartamento'] = dados_locacao_imoveis['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)
dados_locacao_imoveis['apartamento'].head()

0    A101
1    A101
2    A102
3    A102
4    B201
Name: apartamento, dtype: object

### Manipulação de datas

In [39]:
dados_imoveis_disponiveis.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [40]:
dados_imoveis_disponiveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [41]:
dados_imoveis_disponiveis['data'] = pd.to_datetime(dados_imoveis_disponiveis['data'])
dados_imoveis_disponiveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [42]:
dados_imoveis_disponiveis['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [43]:
subset = dados_imoveis_disponiveis.groupby(dados_imoveis_disponiveis['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum() # A coluna vaga_disponível possui valor booleano, então será considerado o número 1 para True (disponível) e 0 para False (indisponível). Por isso, o resultado do método sum() corresponde à quantidade de vagas disponíveis
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

In [44]:
dados_vendas_clientes['Data de venda'] = pd.to_datetime(dados_vendas_clientes['Data de venda'], format='%d/%m/%Y')
dados_vendas_clientes.head()

  Data de venda         Cliente  Valor da compra
0    2022-06-06       ana lucia           836.50
1    2022-06-06  diego armandiu           573.33
2    2022-06-06  diego armandiu           392.80
3    2022-06-06  diego armandiu           512.34
4    2022-06-07  isabely joanes           825.31

In [45]:
dados_vendas_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     datetime64[ns]
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 612.0+ bytes

In [46]:
total_compras_por_cliente = dados_vendas_clientes.groupby(['Cliente'])['Valor da compra'].sum()
total_compras_por_cliente

Cliente
ana lucia          836.50
diego armandiu    1478.47
isabely joanes    2329.30
joo gabriel        386.34
julya meireles    1643.74
maria julia       2086.65
paulo castro       899.16
pedro pasco        311.15
thiago fritzz      885.24
Name: Valor da compra, dtype: float64

In [47]:
dados_locacao_imoveis['datas_combinadas_pagamento'] = pd.to_datetime(dados_locacao_imoveis['datas_combinadas_pagamento'], format='%d/%m/%Y')
dados_locacao_imoveis['datas_de_pagamento'] = pd.to_datetime(dados_locacao_imoveis['datas_de_pagamento'], format='%d/%m/%Y')
dados_locacao_imoveis.head()

  apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0        A101                 2022-06-01         2022-06-05        10000.0
1        A101                 2022-07-01         2022-07-03        25000.0
2        A102                 2022-06-02         2022-06-02        11000.0
3        A102                 2022-07-02         2022-07-06        26000.0
4        B201                 2022-06-03         2022-06-07        12000.0

In [48]:
dados_locacao_imoveis['dias_atraso'] = (dados_locacao_imoveis['datas_de_pagamento'] - dados_locacao_imoveis['datas_combinadas_pagamento']).dt.days
dados_locacao_imoveis

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,dias_atraso
0,A101,2022-06-01,2022-06-05,10000.0,4
1,A101,2022-07-01,2022-07-03,25000.0,2
2,A102,2022-06-02,2022-06-02,11000.0,0
3,A102,2022-07-02,2022-07-06,26000.0,4
4,B201,2022-06-03,2022-06-07,12000.0,4
5,B201,2022-07-03,2022-07-03,27000.0,0
6,B202,2022-06-04,2022-06-07,13000.0,3
7,B202,2022-07-04,2022-07-05,28000.0,1
8,C301,2022-06-05,2022-06-10,14000.0,5
9,C301,2022-07-05,2022-07-09,29000.0,4
10,C302,2022-06-06,2022-06-08,15000.0,2
11,C302,2022-07-06,2022-07-12,12000.0,6
12,D401,2022-06-07,2022-06-07,16000.0,0
13,D401,2022-07-07,2022-07-09,13000.0,2
14,D402,2022-06-08,2022-06-10,17000.0,2
15,D402,2022-07-08,2022-07-14,14000.0,6
16,E501,2022-06-09,2022-06-10,18000.0,1
17,E501,2022-07-09,2022-07-09,15000.0,0
18,E502,2022-06-10,2022-06-16,19000.0,6
19,E502,2022-07-10,2022-07-12,16000.0,2
20,F601,2022-06-11,2022-06-17,20000.0,6
21,F601,2022-07-11,2022-07-13,10000.0,2
22,F602,2022-06-12,2022-06-15,21000.0,3
23,F602,2022-07-12,2022-07-12,11000.0,0
24,G701,2022-06-13,2022-06-19,22000.0,6
25,G701,2022-07-13,2022-07-20,12000.0,7
26,G702,2022-06-14,2022-06-15,23000.0,1
27,G702,2022-07-14,2022-07-17,21000.0,3
28,H801,2022-06-15,2022-06-18,24000.0,3
29,H801,2022-07-15,2022-07-16,22000.0,1

In [50]:
media_atraso = dados_locacao_imoveis.groupby(['apartamento'])['dias_atraso'].mean()
media_atraso

apartamento
A101    3.0
A102    2.0
B201    2.0
B202    2.0
C301    4.5
C302    4.0
D401    1.0
D402    4.0
E501    0.5
E502    4.0
F601    4.0
F602    1.5
G701    6.5
G702    2.0
H801    2.0
Name: dias_atraso, dtype: float64